@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  /* --nome-da-variavel: green; */

  --color-primary: #ffc700;
  --gray-100: #000000;
  --gray-500: #eeeeee;
  --gray-700: #fafafa;
  --gray-900: #ffffff;

  --font-primary: "Inter", sans-serif;
  --font-size-default: 36px;

  --radius-default: 16px;
  --radius-small: 8px;

  --border-default: 2px solid var(--gray-100);
}

body {
  font-family: var(--font-primary);
  color: var(--gray-100);
}