@import url(./globalStyles.css);

body{
    background-color: var(--gray-900);
}
div {
    background-color: var(--color-primary);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: var(--font-size-default);
    color: var(--gray-500);
}
p{
    color: var(--gray-100);
}