@import url(./globalStyles.css);
body{
    margin: 0;
    padding: 0;
}
.header__container{
    margin: 4rem;
}
.header__title{
    text-align: center;
}
.main__container{
    width: 50%;
    margin: 0 auto;
}
.task__container{
    position: relative;
}
.task__input{
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem 0.7rem;
    border: none;
    border-radius: 8px;
    background-color: var(--gray6);
}
.task__add{
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--brand1);
    color: #ffffff;

    position: absolute;
    top: 1.1rem;
    right:-1rem;

    cursor: pointer;
}
.list__container{
    margin-top: 2rem;
}
.item__container{
    width: 100%;
    margin-top: 1rem;
    padding-inline: 0.7rem;
    border: none;
    border-radius: 8px;
    background-color: var(--gray5);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.item__text{
    padding: 0.1rem;
    color: var(--gray2);
}
.item__delete{
    height: 2rem;
    border: none;
    border-radius: 8px;
    background-color: var(--gray4);
    color: var(--gray2);

    cursor: pointer;
}