main {
    max-width: 1024px;
    margin: auto;
    padding-inline: 1rem;
  }
  
  .main__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .form, .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cdccf0;
    padding: 1.5rem;
    border-radius: 0.5rem;
    gap: 0.8rem;
  }