* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 16px;
}
.container{
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    max-width: 100%;
    width: 250px;
    background-color: blue;
    color: white;
    padding: 40px;
}