body {
    background-color: blue;
    margin: 10vh;
    display: flex;
    justify-content: center;
}
  
.box {
    width: 185px;
    height: 280px;
    color: rgb(240 255 247);
    background-color: #bebebe;
    margin: 0.5rem;
    border-radius: 14px 0px;
}