* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  .header__container {
    padding: 1rem;
    background-color: rgb(162, 162, 162);
    box-shadow: 0 0 1rem 0.3rem rgb(28, 28, 28);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: relative;
  }
  /* Telas menores */
  @media (max-width: 768px) {
    .menu__list {
      display: none;
    }
    .menu__button {
      display: block;
      background-color: transparent;
      border: none;
    }
    .show {
      display: block;
      padding: 1rem;
      position: absolute;
      bottom: -80px;
      left: 0;
      background-color: rgb(220, 220, 220);
      z-index: -1;
      width: 100%;
    }
  }
  /* Telas maiores */
  @media (min-width: 769px) {
    .menu__list {
      display: flex;
      gap: 1rem;
    }
    .menu__button {
      display: none;
    }
  }