@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}
main{
    width: 80%;
    /*margin: 0 auto;*/
    margin-inline: auto;
}
/*16px -> 1rem(tamanho padrão da fonte) se o valor for alterado o rem será proporcional*/
.realeses__title{
    font-size: 32px;
    font-weight: 600;
    /* margin: 32px 0; */
    margin-block: 32px;
}
.movies{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.movie{
    background-color: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.2);
    color: #333333;
    border-radius: .625rem;
    padding: 16px;

    display: flex;
    gap: 16px;
}
.movie__poster{
    width: 30%;
}

.movie__title, .movie__genere, .movie__synopsis{
    /* padding: 4.8px; */
    padding-block: 4.8px;
    line-height: 22.4px;
}
.movie__title{
    font-size: 25.6px;
    font-weight: 600;
}
.movie__genere{
    font-size: 17.6px;
    color: #888888;
}
